SECRET_KEY=W0itBemWDNJ7d1FFqcurcwKScfBHA7kCE-BuiaL-WJU
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=xynbgzhf
DATABASE_USER=xynbgzhf
DATABASE_PASSWORD=yS-LoU46jvp8mzR4jRi3RBsvEJs0uLC_
DATABASE_HOST=batyr.db.elephantsql.com
DATABASE_PORT=5432
